@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Public Sans";
    color: #fff;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.quadros {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.quadros .imagens{
    width: 335px;
    height: 431px;
    position: relative;
}

.quadros .imagens img{
    width: 100%;
}

.quadros .imagens .informacoes{
    position: absolute;
    bottom: 45px;
    left: 25px;
}

.quadros .imagens .informacoes .titulo{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
}

.quadros .imagens .informacoes .artista{
    font-weight: 300;
    font-size: 17px;
}